$color-a: #435671;
$color-b-light: #234679;
$color-b: #12243E;
$color-b-dark:#173052;
$color-c: #161C25;
$color-d: #204171;
$color-d-dark: #10274b;
$color-e: #7190BE;

$color-f: #7190BE;
$color-text:#ebeff6;

$loader-color-a:#FA5667;
$loader-color-b:#7A45E5;
$loader-color-c:#1B91F7;
$loader-color-d:#FAC24C;
